.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    font-variant: small-caps;
}

.transparent-img.transparent-img {
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
}
.reveal code {
    font-family: 'PT Mono', monospace;
    text-transform: none;
    font-variant: none;
}

.reveal pre {
    width: 70%;
}