/*
    Fonts:
    Google
    https://fonts.google.com/?selection.family=Roboto|Ubuntu+Mono
    https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin

    FA
    https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css

    Smiler
    http://2ttf.com/EoVxytkhYOw
*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono');*/
/*@font-face {
	font-family: 'Smiler';
	src: url('//2ttf.com/webfont/EoVxytkhYOw/webfont.ttf') format('truetype');
}*/

body {
    background: #000;
    background-color: #000;
}
.reveal .backgrounds {
    opacity: .4;
}

/* sample using the font */
body .reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
}
.reveal .handwriting {
    font-family: 'Smiler', sans-serif;
}
.reveal.reveal code,pre {
    font-family: 'Ubuntu Mono', monospace;
}

.fragment-dimmed {
    visibility: visible;
    color: grey;
}
.fragment-dimmed .accent {
    color: #b9b9b9;
}
.fragment-dimmed.visible {
    visibility: visible;
    color: white;
}

.fragment-dimmed.visible .accent {
    color: #edff6c;
}

.reveal .slides section .fragment.highlight-current-blue.current-fragment .accent {
    color: #b4ce00;
}

span.icon-set {
    margin: 40px;
}

.reveal .img-plain {
    border: none;
}
.reveal .margin-lr {
    margin: 0px 20px;
}
.img-grid a,
.img-grid-sm a {
    display: inline-block;
    vertical-align: top;
}
.reveal .img-grid img {
    height: 200px;
}
.reveal .img-grid-sm img {
    height: 140px;
}

a .caption {
    margin-top: -24px;
    color: white;
    font-size: 12px;
}
.caption.caption-lg {
    font-size: 18px;
}
a:hover .caption {
    color: #8dcffc;;
}

.side-by-side {
    display: inline-block;
    width: 40%;
}
.small-font,
.small-font li,
.small-font li ul,
.small-font li ul li {
    font-size: 24px;
}

cite.footnote.footnote {
    font-size: 16px;
    position: fixed;
    top: 660px;
    right: 100px;
}
cite.footnote a {
    color: #c18000;
}
cite.footnote a:hover {
    color: #ffa900;
}

.section-header {
    color: #bec9ff;
}

.font-md.font-md {
    font-size: 90%
}

.fa-ul.fa-ul.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0; 
}

li.hr {
    list-style-type: none;
    border-bottom: 1px solid grey;
    margin: 10px;
    margin-left: -10px;
}

span.replace-text {
    display: inline-block;
    vertical-align: text-top;
}

span.top {
    display: block;
}

span.bottom {
    display: block;
    margin-top: 18px;
    font-size: 125%;
}

span.slash {
    border-bottom: 5px solid red;
    display: block;
    transform: rotate(-7deg);
    margin-top: -31px;
}
.arrow-right.arrow-right,
.arrow-right::before,
.arrow-right::after {
    height: 4px;
    background: white;
}
.arrow-right.arrow-right {
    display: block;
    width: 70%;
    margin: 5px auto;
    position: relative;
}

.arrow-right::before,
.arrow-right::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
   
}

.arrow-right::before {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    transform-origin: top right;
}
.arrow-right::after {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    transform-origin: bottom right;
}

.kbd.kbd {
    color: #1b1b1b;
    background-color: #f2f2f2;
    transition: background-color;
    padding: 0px 15px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px #aaaaaa;
    cursor: pointer;
}
.kbd.kbd:hover {
    background-color: white;
    color: black;
}

.elevator {
    display: inline-block;
    background: silver;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   3%, hsla(0,0%,100%, .1) 11.5%),
                      -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 49.1%),
                      -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 1.5%),
                                        linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);
}


.elevator .control {
    position: relative;
    transition: all;
}

.elevator .control.adjacent::before {
    content: " ";
    background-color: #363636;
    position: absolute;
    top: 0px;
    left: 40px;
    
    display: inline-block;    
    width: 30px;
    height: 58px;
}


.elevator .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #686868;
    display: inline-block;
    margin: 20px 10px;
    background: white;
    position: relative;
    cursor: pointer;
    transition: all;
}

.elevator .button.active {
    border-color: #3434df;
    box-shadow: 0px 0px 10px 4px #7878ff;
}

.elevator .label {
    display: inline-block;
    background-color: #363636;
    padding: 1px;
    width: 60px;
    border: 1px solid grey;
    margin-left: 0;
    margin-right: 10px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.elevator .fa-star {
    font-size: 18px;
    vertical-align: middle;
}
.elevator .button, 
.elevator .label {
    vertical-align: middle;
}

.adjacent .label {
    border-radius: 0px 20px 20px 0px;  
}
.contained .label {
    background: none;
    border: none;
    color: black;
    position: relative;
}

#proximity-slider {
    text-align: center;
    width: 500px;
    margin: 30px auto;
}

.noUi-value.noUi-value-horizontal.noUi-value-large {
    font-size: 20px;
}

.chart.chart.chart {
    min-width: 310px;
    max-width: 700px;
    height: 400px;
    margin: 0 auto
}

.fa-box {
    padding: .1em;
    background: white;
    color: black;
    border-radius: 1px;
    border: 2px solid #afafaf;
    font-size: 38px;
}
.fragment-dimmed .fa-box {
    visibility: visible;
    background: grey;
}
.fragment-dimmed.visible .fa-box {
    visibility: visible;
    background: white;
}

.path-list {
    position: relative;
}
.path-list::before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: -12px;
    bottom: -6px;
    left: -90px;

    border: 3px solid grey;
    border-right-width: 0px;
    
    width: 16px;

}

.path-list::after {
    content: "Path";
    position: absolute;
    top: 31%;
    left: -191px;
}

.reveal .slides section .fragment.fragment-hide {
    visibility: visible;
    opacity: 1;
}
.reveal .slides section .fragment.fragment-hide.visible {
    display: none;
}

.reveal .slides section .fragment.fragment-shorter {
    visibility: visible;
    opacity: 1;
}
.reveal .slides section .fragment.fragment-shorter.visible {
    transform: scaleY(.5)
}

.reveal .slides section .fragment.fragment-wider {
    visibility: visible;
    opacity: 1;
}
.reveal .slides section .fragment.fragment-wider.visible {
    transform: scaleX(1.5)
}