/*
    Fonts:
    Google
    https://fonts.google.com/?selection.family=Roboto|Ubuntu+Mono
    https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin

    FA
    https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css

    Smiler
    http://2ttf.com/EoVxytkhYOw
*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono');*/
/*@font-face {
	font-family: 'Smiler';
	src: url('//2ttf.com/webfont/EoVxytkhYOw/webfont.ttf') format('truetype');
}*/

body {
    background: #000;
    background-color: #000;
}
.reveal .backgrounds {
    opacity: .6;
}
.sponsors .reveal .backgrounds {
    opacity: 1;;
}

.visible-first-slide {
    display: none;
}
.first-slide .visible-first-slide {
    display: block;
}

.visible-print.visible-print {
    display: none;
}
.print-pdf .visible-print {
    display: block;
}
.print-pdf .hidden-print {
    display: none;
}



/* sample using the font */
body .reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
}
.reveal .handwriting {
    font-family: 'Smiler', sans-serif;
}
.reveal.reveal code,pre {
    font-family: 'Ubuntu Mono', monospace;
}

.dimmed.dimmed.dimmed {
    color: grey;
}

.fragment-dimmed {
    visibility: visible;
    color: grey;
}
.fragment-dimmed .accent {
    color: #b9b9b9;
}
.fragment-dimmed.visible {
    visibility: visible;
    color: white;
}

.fragment-dimmed.visible .accent {
    color: #edff6c;
}
.accent {
    color: #edff6c;
}
.reveal .slides section .fragment.highlight-current-blue.current-fragment .accent {
    color: #b4ce00;
}
/* https://stackoverflow.com/a/17158366/1366033 */
.definition-list-item.definition-list-item {
    padding-left: 1.5em;
    text-indent:-1.5em;
}
span.icon-set {
    margin: 40px;
}

.reveal .img-plain {
    border: none;
}
.reveal .margin-lr {
    margin: 0px 20px;
}
.img-grid a,
.img-grid-sm a {
    display: inline-block;
    vertical-align: top;
}
.reveal .img-grid img {
    height: 200px;
}
.reveal .img-grid-sm img {
    height: 140px;
}

.reveal .highcharts-tooltip img {
    width: 200px;
    /* height: 300px; */
    max-width: none;
    max-height: none;
}

a .caption {
    margin-top: -24px;
    color: white;
    font-size: 12px;
}
.caption.caption-lg {
    font-size: 18px;
}
a:hover .caption {
    color: #8dcffc;;
}

.btn-span.btn-span {
    background: #e4e400;
    color: #2f1e00;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px #b3b320;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-span.btn-span:hover {
    background: #ffff60;
    color: black;
}

.animate {
    transition: all .8s ease;
}

.btn-primary.btn-primary {
    background: hsla(125, 97%, 25%, 1);
    color: #2f1e00;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px hsla(125, 100%, 22%, 1);
    cursor: pointer;
    transition: all .5s ease;
    color: white;
    padding: 5px 10px;
}

.btn-primary.btn-primary:hover {
    background: hsla(125, 97%, 29%, 1);
    color: white;
}

.reveal .btn-xl {
    font-size: 54px;
    padding: 15px 25px;
}

.btn.btn {
    background: #e4e400;
    color: #2f1e00;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px #b3b320;
    cursor: pointer;
    transition: all .5s ease;
}

.btn.btn:hover {
    background: #ffff35;
    color: black;
}



.reveal .card {
    background: white;
    color: black;
    padding: 15px;
    box-shadow: 1px 1px 1px #a5a5a5;
}

.reveal .card-box {
    min-height: 120px;
    width: 50%;
    margin: 0 auto;
}

.card-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-by-side.side-by-side {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.small-font,
.small-font li,
.small-font li ul,
.small-font li ul li {
    font-size: 24px;
}

cite.footnote.footnote {
    font-size: 16px;
    position: fixed;
    top: 660px;
    right: 100px;
}
cite.footnote a {
    color: #c18000;
}
cite.footnote a:hover {
    color: #ffa900;
}

.section-header {
    color: #bec9ff;
}

.font-md.font-md {
    font-size: 90%
}
.font-sm.font-sm {
    font-size: 80%
}

.fa-ul.fa-ul.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0; 
}

.list-unstyled.list-unstyled li {
    list-style: none;
    margin-left: -27px;
}

.ul-spacing.ul-spacing li {
    margin-bottom: 15px;
}

li.hr {
    list-style-type: none;
    border-bottom: 1px solid grey;
    margin: 10px;
    margin-left: -10px;
}

span.replace-text {
    display: inline-block;
    vertical-align: text-top;
}

span.top {
    display: block;
}

span.bottom {
    display: block;
    margin-top: 18px;
    font-size: 125%;
}

span.slash {
    border-bottom: 5px solid red;
    display: block;
    transform: rotate(-7deg);
    margin-top: -31px;
}
.arrow-right.arrow-right,
.arrow-right::before,
.arrow-right::after {
    height: 4px;
    background: white;
}
.arrow-right.arrow-right {
    display: block;
    width: 70%;
    margin: 5px auto;
    position: relative;
}

.arrow-right::before,
.arrow-right::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
   
}

.arrow-right::before {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    transform-origin: top right;
}
.arrow-right::after {
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    transform-origin: bottom right;
}

.kbd.kbd {
    color: #1b1b1b;
    background-color: #f2f2f2;
    transition: background-color;
    padding: 0px 15px 4px 15px;
    border-radius: 5px;
    border: 1px solid #131313;
    box-shadow: inset 0px -4px 1px 5px #696868;
    cursor: pointer;
    text-shadow: 0px 0px 1px #94abfd;
}
.kbd.kbd:hover {
    background-color: white;
    color: black;
}

.elevator {
    display: inline-block;
    user-select: none;
    background: silver;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   3%, hsla(0,0%,100%, .1) 11.5%),
                      -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 49.1%),
                      -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 1.5%),
                                        linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);
}


.elevator .control {
    position: relative;
    transition: all;
}

.elevator .control.adjacent::before {
    content: " ";
    background-color: #363636;
    position: absolute;
    top: 0px;
    left: 40px;
    display: inline-block;
    width: 30px;
    height: 57px;
}


.elevator .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #686868;
    display: inline-block;
    margin: 20px 10px;
    background: white;
    position: relative;
    cursor: pointer;
    transition: all;
}

.elevator .button.active {
    border-color: #3434df;
    box-shadow: 0px 0px 10px 4px #7878ff;
}

.elevator .label {
    display: inline-block;
    background-color: #363636;
    padding: 1px;
    width: 60px;
    border: 1px solid grey;
    margin-left: 0;
    margin-right: 10px;
    margin-right: 5px;
    margin-top: 20.2px;
    margin-bottom: 20px;
    height: 53px;
}

.elevator .fa-star {
    font-size: 18px;
    vertical-align: middle;
}
.elevator .button, 
.elevator .label {
    vertical-align: middle;
}

.adjacent .label {
    border-radius: 0px 20px 20px 0px;  
}
.contained .label {
    background: none;
    border: none;
    color: black;
    position: relative;
}

#proximity-slider {
    text-align: center;
    width: 500px;
    margin: 30px auto;
}

.noUi-value.noUi-value-horizontal.noUi-value-large {
    font-size: 20px;
}

.sublist.sublist {
    margin-left: 30px;
}

.chart.chart.chart {
    min-width: 310px;
    max-width: 700px;
    height: 400px;
    margin: 0 auto
}
.span-box.span-box {
    padding: .1em;
    background: white;
    color: black;
    border-radius: 1px;
    border: 2px solid #afafaf;
    font-size: 38px;
    display: inline-block;
}
.fa-box {
    padding: .1em;
    background: white;
    color: black;
    border-radius: 1px;
    border: 2px solid #afafaf;
    font-size: 38px;
}
.fragment-dimmed .fa-box {
    visibility: visible;
    background: grey;
}
.fragment-dimmed.visible .fa-box {
    visibility: visible;
    background: white;
}

.path-list {
    position: relative;
}
.path-list::before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: -12px;
    bottom: -6px;
    left: -90px;

    border: 3px solid grey;
    border-right-width: 0px;
    
    width: 16px;

}

.path-list::after {
    content: "Path";
    position: absolute;
    top: 31%;
    left: -191px;
}

.reveal .slides section .fragment.fragment-hide,
.reveal .slides section .fragment.fragment-box-shorter,
.reveal .slides section .fragment.fragment-box-wider,
.reveal .slides section .fragment.fragment-box-collapse,
.reveal .slides section .fragment.fragment-bold,
.reveal .slides section .fragment.fragment-white,
.reveal .slides section .fragment.fragment-green,
.reveal .slides section .fragment.fragment-bigger,
.reveal .slides section .fragment.fragment-indent {
    visibility: visible;
    opacity: 1;
    transition: all .6s ease;
}
/* specific initial settings */
.reveal .slides section .fragment.fragment-box-shorter {height: 52px;}
.reveal .slides section .fragment.fragment-box-collapse {height: 52px;}
.reveal .slides section .fragment.fragment-box-wider {width: 48px;}

.reveal .slides section .fragment.fragment-hide.visible {transform:scaleY(0)}
.reveal .slides section .fragment.fragment-box-shorter.visible {
    text-align: center;
    font-size: 20px;
    width: 51px;
    height: 26px;
}
.reveal .slides section .fragment.fragment-box-wider.visible {
    width: 117px;
    transition: width .5s ease;
    text-align: center;
}
.reveal .slides section .fragment.fragment-box-collapse.visible {
    height: 0px;
    overflow: hidden;
    margin-bottom: -7px;
}
.reveal .slides section .fragment.fragment-bold.visible {font-weight: bold}
.reveal .slides section .fragment.fragment-white.visible {color:white}
.reveal .slides section .fragment.fragment-green.visible {color:seagreen}
.reveal .slides section .fragment.fragment-bigger.visible {font-size:150%}
.reveal .slides section .fragment.fragment-indent.visible {margin-left:30px}

.transition-child * {
    transition: all .5s ease;
}

#confettiCanvas {
    z-index: 1 !important;
    pointer-events: none;
  }


  .print-pdf cite.footnote.footnote {
    position: absolute;
    bottom: -50px;
    top: initial;
}

.print-pdf  .reveal .backgrounds {
    background: #1c0340 !important;
    opacity: 1 !important;
}

.print-pdf .reveal[data-background-transition=zoom] > .backgrounds .slide-background.future,
.print-pdf .reveal > .backgrounds .slide-background.future[data-background-transition=zoom] {
    background: none !important;
}

.github-fork-ribbon {
    font-size: 15px;
}
.github-fork-ribbon::before {
    background-color: #a62305;
}
.ribbon-info::before {
    background-color: #6005a6;
}

.reveal .select2-container {
    font-size: 1.1rem;
}  




/* Toast Cusomization */
#toast-container > .toast {
    background-image: none !important;
  }
  #toast-container > div {
    padding: 15px;
    width: 13em;
    font-size: 1.1em;
  }
  .toast-success {
    background-color: #226d22;
  }
  .toast-title {
    margin-bottom: 7px;
    font-size: 1.2em;
  }
  .toast-message .label-row {
    display: block;
    color: #98c563;
    transition: all .5 ease;
  }
  .label-row input {
    top: -2px;
    position: relative;
  }
  .toast-message .label-row.complete {
    /*   text-decoration: line-through; */
    color: #e9f3dd;
    font-weight: bold;
  }
  

/* alert */
.reveal .alert {
    border-radius: 4px;
    background: white;
    width: 536px;
    color: black;
    box-shadow: 2px 2px 2px grey;
    padding: 15px;
    margin: 0 auto;
}
.reveal .alert .alert-message {
    font-size: .8em;
}
.reveal .alert .alert-buttons {
    text-align: right;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.reveal .alert .alert-buttons .alert-button {
    width: 158px;
    font-size: .8em;
    border-radius: 4px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid grey;
}





  /* big overview */
  .reveal.overview {
    zoom: .4;
}

  #tightrope {
    width: 155px;
    position: absolute;
    right: 24px;
    top: 12px;
  }

  #arrow {
    border: none;
    box-shadow: none;
    position: absolute;
    width: 81px;
    top: 99px;
    right: 167px;
    transform: rotate(24deg);
  }

  .text-red {
    color: #ea8282;
  }
  .text-blue {
    color: #81b8ea;
  }