/*
    Fonts:
    Google
    https://fonts.google.com/?selection.family=Roboto|Ubuntu+Mono
    https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin

    FA
    https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css

    Smiler
    http://2ttf.com/EoVxytkhYOw
*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono');*/
/*@font-face {
	font-family: 'Smiler';
	src: url('//2ttf.com/webfont/EoVxytkhYOw/webfont.ttf') format('truetype');
}*/

body {
    background: #000;
    background-color: #000;
}
.reveal .backgrounds {
    opacity: .4;
}

/* sample using the font */
body .reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
}
.reveal .handwriting {
    font-family: 'Smiler', sans-serif;
}
.reveal.reveal code,pre {
    font-family: 'Ubuntu Mono', monospace;
}

.fragment-dimmed {
    visibility: visible;
    color: grey;

}
.fragment-dimmed .accent {
    color: #b9b9b9;
}
.fragment-dimmed.visible {
    visibility: visible;
    color: white;

}
.fragment-dimmed.visible .accent {
    color: #edff6c;
}

.reveal .slides section .fragment.highlight-current-blue.current-fragment .accent {
    color: #b4ce00;
}



.reveal .img-plain {
    border: none;
}
.reveal .margin-lr {
    margin: 0px 20px;
}
.reveal .img-grid {
    height: 225px;
}
.reveal .img-grid-sm {
    height: 120px;
}
.side-by-side {
    display: inline-block;
    width: 40%;
}
.small-font,
.small-font li,
.small-font li ul,
.small-font li ul li {
    font-size: 24px;
}

cite.footnote {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffa900;
}

.font-md.font-md {
    font-size: 90%
}